<!-- templates/main/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <p>username</p>
            {{ form.username }}
            <p>first_name</p>
            {{ form.first_name }}
            <p>last_name</p>
            {{ form.last_name }}
            <p>city</p>
            {{ form.city }}
            <p>password</p>
            {{ form.password1 }}
            <p>password-cofirm</p>
            {{ form.password2 }}
            <button type="submit">Register</button>
            {% if form.errors %}
                <p class="form-errors">Please correct the errors below.</p>
            {% endif %}
        </form>
        <p>Вже маєте акаунт? <a href="{% url 'login' %}">Увійти</a></p>
    </div>
</body>
</html>
